<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ServiceBinding" maxReceivedMessageSize="1000000">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint name="WCFServiceEndpoint" address="http://someserver.com/SampleWpf/SampleWpf.svc" binding="basicHttpBinding" bindingConfiguration="ServiceBinding" contract="System.ServiceModel.Channels.IOutputChannel" /> <!-- тут ссылка на интерфейс сервиса -->
		</client>
	</system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
	<runtime>
		<dependentAssembly>
			<assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.6.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.IO.Pipes" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Data.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
		</dependentAssembly>
	</runtime>
</configuration>
